<h1>Editar Alumnos-Materias</h1>
<div class="container">
    <div class="mb-3">
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <label>Selecciona un Alumno</label>
            <select class="form-select" id="autoSizingSelect" [(ngModel)]="clasealumno.nombreAlumno" name="nombreAlumno">
                <option selected>Nombre</option>
              <option *ngFor="let alumno of alumnos;" [ngValue]="alumno.nombre">{{alumno.nombre}}</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <label>Selecciona una Materia</label>
            <select class="form-select" id="autoSizingSelect" [(ngModel)]="clasealumno.claseAlumno" name="claseAlumno">
                <option selected>Materia</option>
              <option *ngFor="let clase of clases;" [ngValue]="clase.materia">{{clase.materia}}</option>
            </select>
          </div>
      </div>
    <button style="border-color: black; color: black; background-color: lightblue;" 
    class="btn btn-sucess" role="button" (click)='create()' *ngIf="!clasealumno.id else elseBlock"> 
    Registrar 
    </button>
  <ng-template #elseBlock>
    <button style="border-color: black; color: black; background-color: lightblue;" 
    class="btn btn-sucess" role="button" (click)='create()' > 
    Actualizar 
    </button>
  </ng-template>
</div>